
<div id="articleWell">
    {{#each savedObject}}
    <div class="articleDiv" id = "articleDiv" data-id={{this.id}}>
        <a href={{this.link}}>
            <h1 id="articleTitle" data-id={{this.id}}>{{this.title}}</h1>
        </a>
        <p>
            {{this.summary}}
        </p>
        {{#if this.comment}}
        
        <h3>Comments</h3>
        <div id ="commentDiv" data-id = {{this.id}}>
        <ul>
            {{#each this.comment}}
                    <li>
                        <p>
                    {{this.note}}<span><button id = "deleteNote" data-id = {{this.id}} data-articleId = {{this.articleId}} type="button" class="btn btn-danger">X</button></span>
                        </p>
                    </li>
            {{/each}}
        </ul>
        </div>
        {{/if}}
        <button id="removeArticle" type="button" class="btn btn-danger" data-id={{this.id}}>Delete</button>
        <!-- Button trigger modal -->
        <button id = "commentButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{this.id}}" data-id={{this.id}}>
            Comment
        </button>
    </div>
   {{/each}}
</div>



{{#each savedObject}}
<!-- Modal -->
<div class="modal fade" id="myModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group" id="comments">
                   {{this.title}}
               
               </div> 
               <div>
                {{#each this.comment}}
                   <p>{{this.note}}</p> 
                {{/each}}

                </div>
                <form id="noteForm" data-id = {{this.id}}>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea class="form-control" id="comment{{this.id}}"></textarea>
                </div>
                <button id = "submitComment" type="submit" class="btn btn-primary saveComment" data-id ={{this.id}}>Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
              
            </div>
            <div class="modal-footer">
            
            </div>
        </div>
    </div>
</div>
{{/each}}